@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.os { font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; }

.os_b { font-family: "Open Sans", sans-serif; font-weight: 700; font-style: normal; }

@font-face { font-family: "PFAgoraSlabPro-Regular"; src: url("../fonts/PFAgoraSlabPro-Regular.eot"); src: url("../fonts/PFAgoraSlabPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Regular.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.ag_r { font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }

@font-face { font-family: "PFAgoraSlabPro-Bold"; src: url("../fonts/PFAgoraSlabPro-Bold.eot"); src: url("../fonts/PFAgoraSlabPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Bold.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.ag_b { font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }

@font-face { font-family: "PFAgoraSlabPro-Medium"; src: url("../fonts/PFAgoraSlabPro-Medium.eot"); src: url("../fonts/PFAgoraSlabPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Medium.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.ag_m { font-family: "PFAgoraSlabPro-Medium"; font-weight: normal; font-style: normal; }

@font-face { font-family: "PFAgoraSlabPro-Light"; src: url("../fonts/PFAgoraSlabPro-Light.eot"); src: url("../fonts/PFAgoraSlabPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Light.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.ag_l { font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }

@font-face { font-family: "PFAgoraSlabPro-Italic"; src: url("../fonts/PFAgoraSlabPro-Italic.eot"); src: url("../fonts/PFAgoraSlabPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFAgoraSlabPro-Italic.woff") format("woff"), url("../fonts/PFAgoraSlabPro-Italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

.ag_i { font-family: "PFAgoraSlabPro-Italic"; font-weight: normal; font-style: normal; }

.font-stacks { background-color: #e3e6e8; }
.font-stacks .out { padding: 20px 0; }
.font-stacks article { width: 700px; margin-left: auto; margin-right: auto; background-color: white; border: 1px solid rgba(12, 13, 13, 0.2); box-shadow: 0 0 3px rgba(12, 13, 13, 0.1); border-radius: 5px; padding: 1em 20px 0.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px; }
.font-stacks article h3 { font-size: 26px; color: #67747e; font-weight: bold; font-style: normal; }
.font-stacks article h4 { font-size: 22px; margin-bottom: 0.5em; font-weight: bold; font-style: normal; }
.font-stacks article pre { font-size: 18px; }

body { font-size: 13px; font-family: "PFAgoraSlabPro-Medium"; font-weight: normal; font-style: normal; color: #131313; line-height: 1.4; background: white; min-width: 960px; }

.is-hidden { display: none; }

.breadcrumb { *zoom: 1; margin-bottom: 15px; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.breadcrumb:after { content: " "; display: table; clear: both; }
.breadcrumb li { display: inline; margin-left: 4px; }
.breadcrumb li:first-child { margin-left: 0; }
.breadcrumb li:first-child .breadcrumb__divider { display: none; }
.breadcrumb li.is-active .breadcrumb__divider { color: #131313; }
.breadcrumb .breadcrumb__divider { margin-right: 4px; color: #d00e53; }

.title { color: #131313; font-size: 21px; text-transform: uppercase; margin-bottom: 0.2em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }

.t2 { color: #131313; font-size: 14px; text-transform: uppercase; margin-bottom: 0.5em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.t2.t2_alt { color: #0f8293; }

.t3 { font-size: 13px; color: #131313; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; text-transform: uppercase; }

.list li { margin-bottom: 10px; line-height: 1; }
.list li a { position: relative; display: inline-block; padding-left: 30px; color: #131313; text-decoration: none; }
.list li a:before { position: absolute; top: 3px; left: 14px; background: url('../img/icons-sb2b8cc6c57.png') 0 -1173px no-repeat; width: 9px; height: 8px; content: ""; }
.list li a:hover { color: #d00e53; text-decoration: none; }
.list li a:hover:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -1137px no-repeat; width: 9px; height: 8px; }
.list li a:active { color: #0f8293; text-decoration: none; }
.list li a:active:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -1155px no-repeat; width: 9px; height: 8px; }

.bar { position: fixed; top: 0; left: 0; width: 100%; background: #0f9287; color: white; height: 30px; line-height: 30px; z-index: 1000; }
.bar .bar-i { display: block; width: 940px; margin-left: auto; margin-right: auto; *zoom: 1; }
.bar .bar-i:after { content: " "; display: table; clear: both; }

.login { float: right; font-size: 11px; *zoom: 1; }
.login:after { content: " "; display: table; clear: both; }
.login .login__signin, .login .login__signup { float: left; }
.login .login__input { width: 106px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 1px; margin-left: 15px; border-bottom: 1px solid #68bab3; background: none; color: white; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.login .login__input:-moz-placeholder { color: white; }
.login .login__input::-webkit-input-placeholder { color: white; }
.login .login__input:focus:-moz-placeholder { color: transparent; }
.login .login__input:focus::-webkit-input-placeholder { color: transparent; }
.login .login__btn { position: relative; margin-left: 10px; color: white; background: none; border-bottom: 1px dotted white; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.login .login__btn:active { top: 1px; }

.language { float: right; margin-left: 10px; width: 60px; text-align: right; color: #095851; font-size: 13px; font-family: "Open Sans", sans-serif; font-weight: 700; font-style: normal; margin-top: -3px; }
.language a { color: #095851; text-decoration: underline; }
.language a:hover { text-decoration: none; }
.language a.is-active { color: white; font-weight: bold; text-decoration: none; }

.header { display: block; width: 940px; margin-left: auto; margin-right: auto; *zoom: 1; height: 150px; padding-top: 30px; }
.header:after { content: " "; display: table; clear: both; }
.header .header__logo { float: left; width: 300px; padding-top: 27px; margin-right: -300px; font: 0/0 a; text-shadow: none; color: transparent; }
.header .header__logo a { display: block; height: 100%; background: url('../img/icons-sb2b8cc6c57.png') 0 0 no-repeat; width: 254px; height: 86px; }
.header .header__main { float: left; width: 460px; padding-top: 50px; margin-left: 320px; }
.header .header__slogan { font-size: 26px; color: #7e7e7e; margin-bottom: 24px; line-height: 1; font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; }
.header .header__info { float: right; width: 160px; padding-top: 46px; text-align: right; font-size: 12px; font-family: "Open Sans", sans-serif; font-weight: 400; font-style: normal; }
.header .header__info a { color: #131313; text-decoration: underline; }
.header .header__info a:hover { color: #f6a01e; }
.header .header__info a:active { color: #d00e53; }

.nav { position: relative; *zoom: 1; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.nav:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin-left: 28px; font-size: 13px; color: black; }
.nav li:first-child { margin-left: 0; }
.nav li:hover .nav__drop { display: block; }
.nav li:hover > a { color: #f6a01e; text-decoration: none; }
.nav li a { color: black; text-decoration: underline; }
.nav li a:hover { color: #f6a01e; text-decoration: none; }
.nav li a:active { color: #d00e53; text-decoration: none; }
.nav .nav__drop { display: none; position: absolute; left: 0; padding-top: 9px; padding-bottom: 5px; font-family: "PFAgoraSlabPro-Medium"; font-weight: normal; font-style: normal; }
.nav .nav__drop ul { position: relative; *zoom: 1; }
.nav .nav__drop ul:after { content: " "; display: table; clear: both; }
.nav .nav__drop ul:before { position: absolute; top: -5px; left: -90px; background: url('../img/icons-sb2b8cc6c57.png') 0 -927px no-repeat; width: 578px; height: 8px; content: ""; }
.nav .nav__drop li { margin-left: 23px; }
.nav .nav__drop li:first-child { margin-left: 0; }
.nav .nav__drop li a { color: #7e7e7e; text-decoration: none; }
.nav .nav__drop li a:hover { color: #f6a01e; }
.nav .nav__drop li a:active { color: #d00e53; }

.subnav { background: #e6e6e6; margin-bottom: 24px; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.subnav.subnav_mod { background: none; margin-bottom: 0; }
.subnav.subnav_mod > ul { width: auto; }
.subnav.subnav_mod > ul > .subnav__item { float: none; margin-left: 0; width: auto; }
.subnav > ul { display: block; width: 940px; margin-left: auto; margin-right: auto; *zoom: 1; }
.subnav > ul:after { content: " "; display: table; clear: both; }
.subnav > ul > .subnav__item { position: relative; float: left; width: 220px; margin-left: 20px; min-height: 340px; padding-top: 128px; padding-bottom: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.subnav > ul > .subnav__item:first-child { margin-left: 0; }
.subnav > ul > .subnav__item:after { position: absolute; height: 6px; left: 0; bottom: 0; width: 100%; content: ""; }
.subnav > ul > .subnav__item:before { position: absolute; left: 50%; margin-left: -30px; content: ""; }
.subnav > ul > .subnav__item.subnav__item_support:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -304px no-repeat; width: 60px; height: 58px; top: 32px; }
.subnav > ul > .subnav__item.subnav__item_support:after { background: #0f8293; }
.subnav > ul > .subnav__item.subnav__item_monitoring:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -759px no-repeat; width: 60px; height: 55px; top: 35px; }
.subnav > ul > .subnav__item.subnav__item_monitoring:after { background: #0077b7; }
.subnav > ul > .subnav__item.subnav__item_attest:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -235px no-repeat; width: 60px; height: 59px; top: 23px; }
.subnav > ul > .subnav__item.subnav__item_attest:after { background: #f4961e; }
.subnav > ul > .subnav__item.subnav__item_total-attest:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -547px no-repeat; width: 60px; height: 59px; top: 26px; }
.subnav > ul > .subnav__item.subnav__item_total-attest:after { background: #d00e53; }
.subnav .subnav__title { font-size: 13px; letter-spacing: -0.01em; color: #131313; text-transform: uppercase; margin-bottom: 0.6em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.subnav .subnav__list li { line-height: 1.4; margin-bottom: 0; }
.subnav .subnav__list a { padding-left: 20px; }
.subnav .subnav__list a:before { left: 0; }

.search { *zoom: 1; margin-bottom: 14px; }
.search:after { content: " "; display: table; clear: both; }
.search .search-i { position: relative; width: 140px; float: right; }
.search .search__query { width: 140px; padding: 0 10px 0 27px; height: 22px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #f9f9f9; border-width: 2px 2px 1px 2px; font-size: 11px; line-height: 1; -webkit-box-shadow: 0 1px 0 #adadad; -moz-box-shadow: 0 1px 0 #adadad; box-shadow: 0 1px 0 #adadad; }
.search .search__query:-moz-placeholder { color: #6b6b6b; }
.search .search__query::-webkit-input-placeholder { color: #6b6b6b; }
.search .search__query:focus:-moz-placeholder { color: transparent; }
.search .search__query:focus::-webkit-input-placeholder { color: transparent; }
.search .search__btn { position: absolute; background: url('../img/icons-sb2b8cc6c57.png') 0 -1067px no-repeat; width: 14px; height: 12px; left: 5px; top: 50%; margin-top: -6px; }

.footer .footer__links { height: 120px; line-height: 120px; background: #e6e6e6; font-size: 13px; color: black; }
.footer .footer__links-holder { display: block; width: 940px; margin-left: auto; margin-right: auto; *zoom: 1; }
.footer .footer__links-holder:after { content: " "; display: table; clear: both; }
.footer .footer__links-title { position: relative; float: left; width: 220px; padding-right: 10px; text-transform: uppercase; text-align: center; }
.footer .footer__links-title:before { position: absolute; right: 0; top: 12px; bottom: 12px; width: 1px; background: #0f8293; content: ""; }
.footer .footer__links-title i { display: inline-block; vertical-align: middle; margin-right: 12px; background: url('../img/icons-sb2b8cc6c57.png') 0 -651px no-repeat; width: 26px; height: 27px; }
.footer .footer__links-list { float: left; height: 120px; line-height: 120px; *zoom: 1; }
.footer .footer__links-list:after { content: " "; display: table; clear: both; }
.footer .footer__links-list li { float: left; padding-left: 75px; font-size: 18px; }
.footer .footer__links-list li a { display: inline-block; vertical-align: middle; line-height: 1; text-decoration: none; color: #545454; }
.footer .footer__links-list li a span { font-size: 21px; }
.footer .footer__row { display: block; width: 940px; margin-left: auto; margin-right: auto; *zoom: 1; padding-bottom: 65px; }
.footer .footer__row:after { content: " "; display: table; clear: both; }
.footer .footer__col1 { float: left; width: 700px; }
.footer .footer__col2 { float: right; width: 220px; padding-top: 40px; }
.footer .footer__logo { background: url('../img/icons-sb2b8cc6c57.png') 0 -168px no-repeat; width: 138px; height: 57px; margin-bottom: 22px; }
.footer .footer__logo a { display: block; height: 100%; font: 0/0 a; text-shadow: none; color: transparent; }

.feedback { padding-top: 16px; }
.feedback .feedback__row { *zoom: 1; }
.feedback .feedback__row:after { content: " "; display: table; clear: both; }
.feedback .feedback__row label { display: block; font-size: 18px; color: black; margin-bottom: 6px; }
.feedback .feedback__row label span { color: #1aa530; }
.feedback .feedback__row input { display: block; height: 36px; line-height: 20px; padding: 10px; width: 100%; border: 1px solid #959595; margin-bottom: 22px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.feedback .feedback__col { float: left; width: 220px; margin-left: 20px; }
.feedback .feedback__col:first-child { margin-left: 0; }
.feedback .feedback__text { width: 100%; height: 180px; padding: 10px; margin-bottom: 9px; border: 1px solid #959595; resize: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.feedback .feedback__btn { float: right; border: 1px solid #959595; background-color: #0f8293; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "PFAgoraSlabPro-Medium"; font-weight: normal; font-style: normal; height: 36px; padding: 0 15px; font-size: 15px; }
.feedback .feedback__btn:hover { background-color: #d00e53; }
.feedback .feedback__btn:active { background-color: #7e7e7e; position: relative; top: 1px; }

.content a { color: #d00e53; text-decoration: underline; }
.content a:hover { color: #0f8293; text-decoration: underline; }
.content a:active { color: #7e7e7e; text-decoration: underline; }

.mrko { position: relative; margin-left: 47px; margin-bottom: 35px; margin-top: 7px; font-size: 15px; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.mrko:before { position: absolute; top: 1px; left: -63px; content: ""; background: url('../img/icons-sb2b8cc6c57.png') 0 -96px no-repeat; width: 71px; height: 62px; }
.mrko a { display: block; font-size: 13px; }

.news .news__title { text-transform: uppercase; margin-bottom: 0.7em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.news .news__item { margin-top: 22px; }
.news .news__item:first-child { margin-top: 0; }
.news .news__meta { font-size: 10px; margin-bottom: 12px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.news .news__date { font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }
.news .news__divider { color: #1aa530; }
.news .news__info { *zoom: 1; }
.news .news__info:after { content: " "; display: table; clear: both; }
.news .news__info > a { text-decoration: none; }
.news .news__info > a:hover .news__head { color: #d00e53; text-decoration: none; }
.news .news__info > a:active .news__head { color: #0f8293; text-decoration: none; }
.news .news__pic { float: left; width: 60px; margin-right: 20px; }
.news .news__pic img { display: block; max-width: 60px; min-height: 45px; }
.news .news__text { color: #131313; overflow: hidden; line-height: 1.3; font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }
.news .news__text p { font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }
.news .news__head { font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; color: #131313; margin-bottom: 0.5em; }

.hentry { margin-bottom: 30px; }
.hentry .hentry__item { margin-top: 1.8em; }
.hentry .hentry__item:first-child { margin-top: 0; }
.hentry .hentry__title { margin-bottom: 1.1em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.hentry .hentry__body > a { text-decoration: none; }
.hentry .hentry__body > a .hentry__subtitle { color: #131313; }
.hentry .hentry__body > a:hover .hentry__subtitle { color: #d00e53; }
.hentry .hentry__body > a:active .hentry__subtitle { color: #7e7e7e; }
.hentry .hentry__subtitle { font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; margin-bottom: 0.5em; }
.hentry .hentry__text { color: #131313; font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }
.hentry .hentry__meta { overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 1em; font-size: 10px; }
.hentry .hentry__date { font-family: "PFAgoraSlabPro-Light"; font-weight: normal; font-style: normal; }
.hentry .hentry__divider { color: #1aa530; }
.hentry .hentry__more { margin-top: 0.5em; }

.docs { margin-bottom: 5px; }
.docs .docs__item { margin-top: 20px; border: 1px solid transparent; }
.docs .docs__item:first-child { margin-top: 6px; }
.docs .docs__item.is-active, .docs .docs__item:hover { border: 1px solid #cdcfcf; }
.docs .docs__item.docs_pdf .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -477px no-repeat; width: 34px; height: 25px; }
.docs .docs__item.docs_doc .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -442px no-repeat; width: 34px; height: 25px; }
.docs .docs__item.docs_csv .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -407px no-repeat; width: 34px; height: 25px; }
.docs .docs__item.docs_xml .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -616px no-repeat; width: 34px; height: 25px; }
.docs .docs__item.docs_rar .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -372px no-repeat; width: 34px; height: 25px; }
.docs .docs__item.docs_ppt .docs__head:before { background: url('../img/icons-sb2b8cc6c57.png') 0 -512px no-repeat; width: 34px; height: 25px; }
.docs .docs__item > a { padding: 11px 11px 8px; display: block; text-decoration: none; }
.docs .docs__item > a .docs__head { text-decoration: underline; color: #434343; }
.docs .docs__item > a .docs__text { color: #7e7e7e; }
.docs .docs__item > a:hover .docs__head { text-decoration: none; color: #d00e53; }
.docs .docs__item > a:hover .docs__text { color: #d00e53; }
.docs .docs__item > a:active .docs__head { text-decoration: none; color: #0f8293; }
.docs .docs__item > a:active .docs__text { color: #0f8293; }
.docs .docs__head { position: relative; padding-left: 36px; line-height: 1.5; }
.docs .docs__head:before { position: absolute; top: -2px; left: 0; content: ""; }
.docs .docs__text { color: #7e7e7e; border-top: 2px solid #bdbdbd; margin-top: 3px; padding-top: 7px; }

.events { margin-bottom: 30px; }
.events.events_mod .events__text { font-size: 13px; }
.events .events__title { margin-bottom: 0.5em; }
.events .events__nav { margin-bottom: 1em; }
.events .events__nav li { display: inline-block; font-size: 0; color: #949494; }
.events .events__nav li:first-child .events__divider { display: none; }
.events .events__nav li a { display: inline-block; font-size: 13px; color: #949494; text-decoration: underline; }
.events .events__nav li a:active { color: #0f8293; }
.events .events__nav li a:hover { color: #d00e53; }
.events .events__nav li.is-active a, .events .events__nav li:hover a { color: #d00e53; }
.events .events__nav li.is-active .events__divider, .events .events__nav li:hover .events__divider { color: #d00e53; }
.events .events__nav li:active a { color: #0f8293; }
.events .events__nav li:active .events__divider { color: #0f8293; }
.events .events__nav .events__divider { display: inline-block; padding: 0 4px; font-size: 13px; }
.events .events__item { position: relative; *zoom: 1; margin-top: 24px; }
.events .events__item:after { content: " "; display: table; clear: both; }
.events .events__item:before { position: absolute; left: 70px; top: 0; bottom: 0; width: 1px; background: #909090; content: ""; }
.events .events__item:first-child { margin-top: 0; }
.events .events__item > a { text-decoration: none; }
.events .events__item > a .events__meta { color: #131313; }
.events .events__item > a .events__text { color: #131313; }
.events .events__item > a:hover .events__text { color: #d00e53; }
.events .events__item > a:active .events__text { color: #0f8293; }
.events .events__meta { float: left; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; line-height: 1; padding-right: 13px; margin-right: 7px; }
.events .events__date { display: block; font-size: 50px; }
.events .events__day { display: block; font-size: 15px; margin-top: -7px; text-transform: uppercase; }
.events .events__text { overflow: hidden; font-size: 15px; }

.topic h1 { color: #131313; font-size: 21px; text-transform: uppercase; margin-bottom: 0.5em; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.topic h2 { font-size: 14px; margin-bottom: 1em; font-family: "PFAgoraSlabPro-Medium"; font-weight: normal; font-style: normal; }
.topic p { font-size: 13px; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; margin-bottom: 1em; }
.topic figure { margin-bottom: 1.5em; }
.topic figure p { padding: 0; margin: 0 0 0.7em; }
.topic figure img { display: block; max-width: 460px; margin-left: auto; margin-right: auto; }
.topic figcaption { text-align: right; font-family: "PFAgoraSlabPro-Italic"; font-weight: normal; font-style: normal; font-size: 11px; color: black; }
.topic blockquote { border: 1px solid #f4961e; border-width: 1px 0; margin: 1.5em 0; padding: 0 2em; }
.topic blockquote p { text-transform: uppercase; text-align: center; font-size: 13px; color: #0f8293; font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; margin: 1.5em 0; }

.webinar { margin-bottom: 30px; }
.webinar .webinar__title { margin-bottom: 0.5em; }
.webinar .webinar__timer { color: #d00e53; }
.webinar .webinar__content { *zoom: 1; }
.webinar .webinar__content:after { content: " "; display: table; clear: both; }
.webinar .webinar__pic { float: left; width: 140px; margin-right: 20px; }
.webinar .webinar__pic a { display: block; height: 100%; }
.webinar .webinar__pic img { display: block; max-width: 140px; border: 1px solid #e0e0e0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: auto; margin-right: auto; }
.webinar .webinar__info { overflow: hidden; }
.webinar .webinar__head { position: relative; font-size: 15px; line-height: 1.2; margin-bottom: 0.2em; }
.webinar .webinar__head:after { display: block; width: 140px; height: 1px; margin-top: 0.2em; background: #d00e53; content: ""; }
.webinar .webinar__head a { text-decoration: none; color: #131313; }
.webinar .webinar__head a:hover { color: #d00e53; }
.webinar .webinar__head a:active { color: #0f8293; }
.webinar .webinar__speaker { color: #b0b0b0; font-size: 11px; }

.photo .photo__years { margin-bottom: 1em; }
.photo .photo__years li { display: inline-block; color: #7e7e7e; }
.photo .photo__years li a { color: #7e7e7e; }
.photo .photo__years li a:hover, .photo .photo__years li a.is-active { text-decoration: none; color: #d00e53; }
.photo .photo__years li a:active { text-decoration: none; color: #0f8293; }
.photo .photo__years li:first-child .photo__divider { display: none; }
.photo .photo__years .photo__divider { padding: 0 4px 0 0; }
.photo .photo__row { *zoom: 1; margin-bottom: 20px; }
.photo .photo__row:after { content: " "; display: table; clear: both; }
.photo .photo__gallery { float: left; width: 460px; margin-right: 20px; text-align: center; border-bottom: 1px solid #0f8293; padding-bottom: 10px; }
.photo .photo__gallery .photo__gallery-list { margin-left: -20px; *zoom: 1; }
.photo .photo__gallery .photo__gallery-list:after { content: " "; display: table; clear: both; }
.photo .photo__gallery .photo__pic { position: relative; float: left; width: 220px; height: 145px; margin-left: 20px; margin-bottom: 20px; font-size: 13px; }
.photo .photo__gallery .photo__pic:hover:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; content: ""; opacity: 0.8; background: #0f8293; }
.photo .photo__gallery .photo__pic:hover .photo__zoom { display: block; }
.photo .photo__gallery .photo__zoom { display: none; line-height: 145px; position: absolute; top: 0; left: 0; right: 0; text-align: center; color: white; }
.photo .photo__gallery .photo__zoom i { background: url('../img/icons-sb2b8cc6c57.png') 0 -824px no-repeat; width: 24px; height: 22px; display: inline-block; vertical-align: middle; }
.photo .photo__info { overflow: hidden; font-size: 13px; }
.photo .photo__title { font-size: 14px; }
.photo .photo__date { color: #7e7e7e; margin-bottom: 0.5em; }

a.link { border-bottom: 1px dotted #7e7e7e; text-decoration: none; color: #7e7e7e; }
a.link:hover { border-bottom: 1px dotted #d00e53; text-decoration: none; color: #d00e53; }
a.link:active { border-bottom: 1px dotted #0f8293; text-decoration: none; color: #0f8293; }

.slider { position: relative; }
.slider .slider__pager { padding: 17px 0; text-align: center; line-height: 1; }
.slider .slider__pager span { font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-sb2b8cc6c57.png') 0 -945px no-repeat; width: 16px; height: 16px; filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); filter: gray; -webkit-filter: grayscale(100%); filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"; display: inline-block; vertical-align: top; margin: 0 3px; }
.slider .slider__pager span:hover, .slider .slider__pager span.cycle-pager-active { filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale"); -webkit-filter: grayscale(0%); cursor: pointer; }
.slider .slider__pager span.cycle-pager-active { cursor: default; }
.slider .slider__nav span { position: absolute; top: 170px; font: 0/0 a; text-shadow: none; color: transparent; display: block; background: url('../img/icons-sb2b8cc6c57.png') 0 -688px no-repeat; width: 61px; height: 61px; z-index: 101; }
.slider .slider__nav span:hover { background: url('../img/icons-sb2b8cc6c57.png') 0 -856px no-repeat; width: 61px; height: 61px; cursor: pointer; }
.slider .slider__nav .slider__prev { left: 0; }
.slider .slider__nav .slider__next { right: 0; -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.slider .slider__item { overflow: hidden; height: 425px; width: 100%; }
.slider .slider__item img { position: absolute; top: 0; left: 0; width: 100%; min-height: 425px; height: auto; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.slider .slider__info { width: 540px; position: absolute; color: white; background: #0f8293; opacity: 0.9; left: 50%; margin-left: -71px; bottom: 0; padding: 30px 25px 20px 35px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.slider .slider__info a { color: white; text-decoration: none; }
.slider .slider__info a:hover { color: white; text-decoration: none; }
.slider .slider__info p { margin-bottom: 1em; font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.slider .slider__info p a { color: white; text-decoration: underline; }
.slider .slider__info p a:hover { color: white; text-decoration: none; }
.slider .slider__title { font-size: 34px; margin-bottom: 0.2em; }

.l { display: block; width: 940px; margin-left: auto; margin-right: auto; margin-bottom: 20px; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-left { float: left; width: 220px; margin-right: -220px; }
.l .l-main { float: left; margin-left: 240px; width: 460px; }
.l .l-right { float: right; width: 220px; margin-left: -220px; }
.l .l-solo { margin-left: 240px; overflow: hidden; }

.members { font-family: "PFAgoraSlabPro-Regular"; font-weight: normal; font-style: normal; }
.members .members__item { padding-top: 25px; border-top: 1px solid #0f8293; *zoom: 1; }
.members .members__item:after { content: " "; display: table; clear: both; }
.members .members__item:first-child { border-top: none; }
.members .members__profile { float: left; width: 220px; margin-right: 20px; }
.members .members__photo { width: 220px; height: 290px; margin-bottom: 35px; overflow: hidden; }
.members .members__photo img { display: block; max-width: 220px; max-height: 290px; margin-left: auto; margin-right: auto; }
.members .members__row { margin-bottom: 25px; }
.members .members__row strong { font-family: "PFAgoraSlabPro-Bold"; font-weight: normal; font-style: normal; }
.members .members__info { overflow: hidden; }
.members .members__list li a { padding-left: 20px; line-height: 1.4; }
.members .members__list li a:before { top: 6px; left: 0; }

.members_scroll .members__photo { margin-bottom: 12px; }
.members_scroll .js-scrollable__navi { margin-bottom: 15px; }

.members_doc .members__item { margin-bottom: 18px; }
.members_doc .members__photo, .members_doc .js-scrollable__container { height: 330px; }
.members_doc .members__photo { margin-bottom: 15px; }
.members_doc .members__photo img { max-height: 330px; }

.js-scrollable__container { width: 220px; height: 290px; position: relative; overflow: hidden; }

.js-scrollable__container .js-scrollable__in { width: 20000em; position: absolute; }

.js-scrollable__in div { float: left; }

.js-scrollable__navi { font-size: 0; text-align: center; }
.js-scrollable__navi .js-scrollable__navi-prev, .js-scrollable__navi .js-scrollable__navi-next { display: inline-block; vertical-align: middle; cursor: pointer; }
.js-scrollable__navi .js-scrollable__navi-prev:active, .js-scrollable__navi .js-scrollable__navi-next:active { cursor: pointer; }
.js-scrollable__navi .js-scrollable__navi-prev.disabled, .js-scrollable__navi .js-scrollable__navi-next.disabled { cursor: default; }
.js-scrollable__navi .js-scrollable__navi-prev { margin-right: 10px; background: url('../img/icons-sb2b8cc6c57.png') 0 -971px no-repeat; width: 13px; height: 14px; }
.js-scrollable__navi .js-scrollable__navi-prev:hover { background: url('../img/icons-sb2b8cc6c57.png') 0 -1113px no-repeat; width: 13px; height: 14px; }
.js-scrollable__navi .js-scrollable__navi-prev:active { background: url('../img/icons-sb2b8cc6c57.png') 0 -1043px no-repeat; width: 13px; height: 14px; }
.js-scrollable__navi .js-scrollable__navi-next { background: url('../img/icons-sb2b8cc6c57.png') 0 -995px no-repeat; width: 13px; height: 14px; }
.js-scrollable__navi .js-scrollable__navi-next:hover { background: url('../img/icons-sb2b8cc6c57.png') 0 -1089px no-repeat; width: 13px; height: 14px; }
.js-scrollable__navi .js-scrollable__navi-next:active { background: url('../img/icons-sb2b8cc6c57.png') 0 -1019px no-repeat; width: 13px; height: 14px; }

.form { padding: 15px 12px 25px; border: 3px solid #f7a72b; }

[class^="icon-"], [class*=" icon-"] { display: inline-block; vertical-align: middle; }

.icon-arr-l { background: url('../img/icons-sb2b8cc6c57.png') 0 -971px no-repeat; width: 13px; height: 14px; }

.icon-arr-r { background: url('../img/icons-sb2b8cc6c57.png') 0 -995px no-repeat; width: 13px; height: 14px; }
