.members
	.members__item
		padding-top: 25px
		border-top: 1px solid #0f8293
		+clr
		&:first-child
			border-top: none
	.members__profile
		float: left
		width: 220px
		margin-right: 20px
	.members__photo
		width: 220px
		height: 290px
		margin-bottom: 35px
		overflow: hidden
		img
			display: block
			max-width: 220px
			max-height: 290px
			margin-left: auto
			margin-right: auto
	.members__row
		margin-bottom: 25px
	.members__info
		overflow: hidden
	.members__list
		li
			a
				padding-left: 20px
				line-height: 1.4
				&:before
					top: 6px
					left: 0