.members
	+ag_r
	.members__item
		padding-top: 25px
		border-top: 1px solid #0f8293
		+clr
		&:first-child
			border-top: none
	.members__profile
		float: left
		width: 220px
		margin-right: 20px
	.members__photo
		width: 220px
		height: 290px
		margin-bottom: 35px
		overflow: hidden
		img
			display: block
			max-width: 220px
			max-height: 290px
			margin-left: auto
			margin-right: auto
	.members__row
		margin-bottom: 25px
		strong
			+ag_b
	.members__info
		overflow: hidden
	.members__list
		li
			a
				padding-left: 20px
				line-height: 1.4
				&:before
					top: 6px
					left: 0

// scrollable
.scrollable
	position: relative
	overflow: hidden
	width: 220px
	height: 290px
.scrollable .items
	width: 20000em
	position: absolute
.items div
	float: left

// navi
.navi
	font-size: 0
	text-align: center
	.navi__prev, .navi__next
		display: inline-block
		vertical-align: middle
	.navi__prev
		margin-right: 10px
		+s(icon-arr-l)
		&:hover
			+s(icon-arr-l_d)
		&.disabled
			+s(icon-arr-l_h)
	.navi__next
		+s(icon-arr-r)
		&:hover
			+s(icon-arr-r_d)
		&.disabled
			+s(icon-arr-r_h)
