body
	font-size: 13px
	+ag_m
	color: $dark
	line-height: 1.4
	background: $white
	min-width: 960px
	&.js-popup-open
		overflow: hidden
// main wrapper
=wrap
	display: block
	width: 940px
	margin-left: auto
	margin-right: auto

// box
=gbox
	border: 1px solid #cfcfcf
	+border-radius(5px)
	background-color: #e5e5e5
	min-height: 1px
	padding: 20px 15px
	+box

.is-hidden
	display: none !important

// breadcrumb
.breadcrumb
	+clr
	margin-bottom: 15px
	+ag_r
	li
		display: inline
		margin-left: 4px
		&:first-child
			margin-left: 0
			.breadcrumb__divider
				display: none
		&.is-active
			.breadcrumb__divider
				color: $dark
	.breadcrumb__divider
		margin-right: 4px
		color: $pink

// titles
.title
	color: $dark
	font-size: 21px
	text-transform: uppercase
	margin-bottom: 0.2em
	+ag_b
.t2
	color: $dark
	font-size: 14px
	text-transform: uppercase
	margin-bottom: 0.5em
	+ag_b
	&.t2_alt
		color: $green
.t3
	font-size: 13px
	color: $dark
	+ag_b
	text-transform: uppercase

// links
a.link
	border-bottom: 1px dotted $grey
	text-decoration: none
	color: $grey
	&:hover
		border-bottom: 1px dotted $pink
		text-decoration: none
		color: $pink
	&:active
		border-bottom: 1px dotted $green
		text-decoration: none
		color: $green
.dlink
	text-decoration: none !important
	border-bottom: 1px dotted $pink
	&:hover
		border-bottom: 1px dotted $green
	&:active
		border-bottom: 1px dotted $grey

// list
.list
	li
		margin-bottom: 10px
		line-height: 1
		a
			position: relative
			display: inline-block
			padding-left: 30px
			color: $dark
			text-decoration: none
			&:before
				position: absolute
				top: 3px
				left: 14px
				+s(circle)
				content: ""
			&:hover
				color: $pink
				text-decoration: none
				&:before
					+s(circle-h)
			&:active
				color: $green
				text-decoration: none
				&:before
					+s(circle-a)

// bar
.bar
	position: fixed
	top: 0
	left: 0
	width: 100%
	background: #0f9287
	color: $white
	height: 30px
	line-height: 30px
	z-index: 1000
	.bar-i
		+wrap
		+clr

// login
.login
	float: right
	font-size: 11px
	+clr
	.login__signin,
	.login__signup,
	.login__auth
		display: inline-block
	.login__input
		width: 106px
		+box
		padding-left: 1px
		margin-left: 15px
		border-bottom: 1px solid #68bab3
		background: none
		color: $white
		+ag_r
		+placeholder-color($white)
		&:focus
			+placeholder-color(transparent)
	.login__btn
		display: inline-block
		position: relative
		margin-left: 10px
		color: $white
		background: none
		border-bottom: 1px dotted $white
		+ag_r
		&:active
			top: 1px

// language
.language
	float: right
	margin-left: 10px
	width: 60px
	text-align: right
	color: #095851
	font-size: 13px
	+os_b
	margin-top: -3px
	a
		color: #095851
		text-decoration: underline
		&:hover
			text-decoration: none
		&.is-active
			color: $white
			font-weight: bold
			text-decoration: none

// header
.header
	+wrap
	+clr
	height: 150px
	padding-top: 30px
	margin-bottom: 20px
	.header__logo
		float: left
		width: 300px
		padding-top: 27px
		margin-right: -300px
		+hidetext
		a
			display: block
			height: 100%
			+s(logo)
	.header__main
		float: left
		width: 460px
		padding-top: 50px
		margin-left: 320px
	.header__slogan
		font-size: 26px
		color: $grey
		margin-bottom: 24px
		line-height: 1
		+os
	.header__info
		float: right
		width: 160px
		padding-top: 46px
		text-align: right
		font-size: 12px
		+os
		a
			color: $dark
			text-decoration: underline
			&:hover
				color: $yellow
			&:active
				color: $pink

// nav
.nav
	position: relative
	+clr
	+ag_b
	li
		float: left
		margin-left: 28px
		font-size: 13px
		color: $black
		&:first-child
			margin-left: 0
		&:hover
			.nav__drop
				display: block
			& > a
				color: $yellow
				text-decoration: none
		a
			color: $black
			text-decoration: underline
			&:hover
				color: $yellow
				text-decoration: none
			&:active
				color: $pink
				text-decoration: none
	.nav__drop
		display: none
		position: absolute
		left: 0
		padding-top: 9px
		padding-bottom: 5px
		+ag_m
		ul
			position: relative
			+clr
			&:before
				position: absolute
				top: -5px
				left: -90px
				+s(nav-shadow)
				content: ""
		li
			margin-left: 17px
			width: 85px
			&:first-child
				margin-left: 0
			a
				color: $grey
				text-decoration: none
				&:hover
					color: $yellow
				&:active
					color: $pink

// subnav
.subnav
	background: $lgrey
	margin-bottom: 24px
	+ag_r
	&.subnav_mod
		background: none
		margin-bottom: 0
		& > ul
			width: auto
			& > .subnav__item
				float: none
				margin-left: 0
				width: auto
	& > ul
		+wrap
		+clr
		& > .subnav__item
			position: relative
			float: left
			width: 220px
			margin-left: 20px
			min-height: 340px
			padding-top: 128px
			padding-bottom: 10px
			+box
			&:first-child
				margin-left: 0
			&:after
				position: absolute
				height: 6px
				left: 0
				bottom: 0
				width: 100%
				content: ""
			&:before
				position: absolute
				left: 50%
				margin-left: -30px
				content: ""
			&.subnav__item_support
				&:before
					+s(support)
					top: 32px
				&:after
					background: #0f8293
			&.subnav__item_monitoring
				&:before
					+s(monitoring)
					top: 35px
				&:after
					background: #0077b7
			&.subnav__item_attest
				&:before
					+s(attest)
					top: 23px
				&:after
					background: #f4961e
			&.subnav__item_total-attest
				&:before
					+s(total-attest)
					top: 26px
				&:after
					background: #d00e53
	.subnav__title
		font-size: 13px
		letter-spacing: -.01em
		color: $dark
		text-transform: uppercase
		margin-bottom: 0.6em
		+ag_b
	.subnav__list
		li
			line-height: 1.4
			margin-bottom: 0
		a
			padding-left: 20px
			&:before
				left: 0

// search
.search
	+clr
	margin-bottom: 14px
	.search-i
		position: relative
		width: 140px
		float: right
	.search__query
		width: 140px
		padding: 0 10px 0 27px
		height: 22px
		+box
		border: 2px solid #f9f9f9
		border-width: 2px 2px 1px 2px
		font-size: 11px
		line-height: 1
		+placeholder-color(#6b6b6b)
		+box-shadow(0 1px 0 #adadad)
		&:focus
			+placeholder-color(transparent)
	.search__btn
		position: absolute
		+s(search)
		left: 5px
		top: 50%
		margin-top: -6px

// footer
.footer
	.footer__links
		height: 120px
		line-height: 120px
		background: $lgrey
		font-size: 13px
		color: $black
	.footer__links-holder
		+wrap
		+clr
	.footer__links-title
		position: relative
		float: left
		width: 220px
		padding-right: 10px
		text-transform: uppercase
		text-align: center
		&:before
			position: absolute
			right: 0
			top: 12px
			bottom: 12px
			width: 1px
			background: $green
			content: ""
		i
			display: inline-block
			vertical-align: middle
			margin-right: 12px
			+s(ruby)
	.footer__links-list
		float: left
		height: 120px
		line-height: 120px
		+clr
		li
			float: left
			// width: 140px
			padding-left: 75px
			font-size: 18px
			a
				display: inline-block
				vertical-align: middle
				line-height: 1
				text-decoration: none
				color: #545454
				span
					font-size: 21px
	.footer__row
		+wrap
		+clr
		padding-bottom: 65px
	.footer__col1
		float: left
		width: 700px
	.footer__col2
		float: right
		width: 220px
		padding-top: 40px
	.footer__logo
		+s(logo-sm)
		margin-bottom: 22px
		a
			display: block
			height: 100%
			+hidetext
	.footer__menu

// feedback
.feedback
	padding-top: 16px
	.feedback__row
		+clr
		label
			display: block
			font-size: 18px
			color: #000
			margin-bottom: 6px
			span
				color: #1aa530
		input
			display: block
			height: 36px
			line-height: 20px
			padding: 10px
			width: 100%
			border: 1px solid #959595
			margin-bottom: 22px
			+box
	.feedback__col
		float: left
		width: 220px
		margin-left: 20px
		&:first-child
			margin-left: 0
	.feedback__text
		width: 100%
		height: 180px
		padding: 10px
		margin-bottom: 9px
		border: 1px solid #959595
		resize: none
		+box
	.feedback__btn
		float: right
		border: 1px solid #959595
		background-color: $green
		color: #fff
		+box
		+ag_m
		height: 36px
		padding: 0 15px
		font-size: 15px
		&:hover
			background-color: $pink
		&:active
			background-color: $grey
			position: relative
			top: 1px

// content
.content
	a
		color: $pink
		text-decoration: underline
		&:hover
			color: $green
			text-decoration: underline
		&:active
			color: $grey
			text-decoration: underline

// mrko
.mrko
	position: relative
	margin-left: 47px
	margin-bottom: 35px
	margin-top: 7px
	font-size: 15px
	+ag_r
	&:before
		position: absolute
		top: 1px
		left: -63px
		content: ""
		+s(mrko)
	a
		display: block
		font-size: 13px

// news
.news
	.news__title
		text-transform: uppercase
		margin-bottom: .7em
		+ag_b
	.news__list
	.news__item
		margin-top: 22px
		&:first-child
			margin-top: 0
	.news__meta
		font-size: 10px
		margin-bottom: 12px
		+text-overflow
	.news__date
		+ag_l
	.news__divider
		color: #1aa530
	.news__rubric
	.news__info
		+clr
		& > a
			text-decoration: none
			&:hover
				.news__head
					color: $pink
					text-decoration: none
			&:active
				.news__head
					color: $green
					text-decoration: none
	.news__pic
		float: left
		width: 60px
		margin-right: 20px
		img
			display: block
			max-width: 60px
			min-height: 45px
	.news__text
		color: $dark
		overflow: hidden
		line-height: 1.3
		+ag_l
		p
			+ag_l
	.news__head
		+ag_b
		color: $dark
		margin-bottom: 0.5em

// hentry
.hentry
	margin-bottom: 30px
	.hentry__list
	.hentry__item
		margin-top: 1.8em
		&:first-child
			margin-top: 0
	.hentry__title
		margin-bottom: 1.1em
		+ag_b
	.hentry__body
		& > a
			text-decoration: none
			.hentry__subtitle
				color: $dark
			&:hover
				.hentry__subtitle
					color: $pink
			&:active
				.hentry__subtitle
					color: $grey
	.hentry__subtitle
		+ag_b
		margin-bottom: 0.5em
	.hentry__text
		color: $dark
		+ag_l
	.hentry__meta
		+text-overflow
		margin-bottom: 1em
		font-size: 10px
	.hentry__date
		+ag_l
	.hentry__divider
		color: $lgreen
	.hentry__link
	.hentry__more
		margin-top: 0.5em

// docs
.docs
	margin-bottom: 5px
	.docs__title
	.docs__list
	.docs__item
		margin-top: 20px
		border: 1px solid transparent
		&:first-child
			margin-top: 6px
		&.is-active,
		&:hover
			border: 1px solid #cdcfcf
		&.docs_pdf
			.docs__head
				&:before
					+s(pdf)
		&.docs_doc
			.docs__head
				&:before
					+s(doc)
		&.docs_csv
			.docs__head
				&:before
					+s(csv)
		&.docs_xml
			.docs__head
				&:before
					+s(xml)
		&.docs_rar
			.docs__head
				&:before
					+s(rar)
		&.docs_zip
			.docs__head
				&:before
					+s(zip)
		&.docs_ppt
			.docs__head
				&:before
					+s(ppt)
		& > a
			padding: 11px 11px 8px
			display: block
			min-height: 25px
			text-decoration: none
			.docs__head
				text-decoration: underline
				color: #434343
			.docs__text
				color: $grey
			&:hover
				.docs__head
					text-decoration: none
					color: $pink
					// &:before
					// 	+gray
					// 	opacity: 0.5
				.docs__text
					color: $pink
			&:active
				.docs__head
					text-decoration: none
					color: $green
				.docs__text
					color: $green
	.docs__head
		position: relative
		padding-left: 36px
		line-height: 1.5
		&:before
			position: absolute
			top: -2px
			left: 0
			content: ""
	.docs__text
		color: $grey
		border-top: 2px solid #bdbdbd
		margin-top: 3px
		padding-top: 7px

// events
.events
	margin-bottom: 30px
	&.events_mod
		.events__text
			font-size: 13px
	.events__title
		margin-bottom: .5em
	.events__nav
		margin-bottom: 1em
		li
			display: inline-block
			font-size: 0
			color: #949494
			&:first-child
				.events__divider
					display: none
			a
				display: inline-block
				font-size: 13px
				color: #949494
				text-decoration: underline
				&:active
					color: $green
				&:hover
					color: $pink
			&.is-active,
			&:hover
				a
					color: $pink
				.events__divider
					color: $pink
			&:active
				a
					color: $green
				.events__divider
					color: $green
		.events__divider
			display: inline-block
			padding: 0 4px
			font-size: 13px
	.events__items
	.events__item
		position: relative
		+clr
		margin-top: 24px
		&:before
			position: absolute
			left: 70px
			top: 0
			bottom: 0
			width: 1px
			background: #909090
			content: ""
		&:first-child
			margin-top: 0
		& > a
			text-decoration: none
			.events__meta
				color: $dark
			.events__text
				color: $dark
			&:hover
				.events__text
					color: $pink
			&:active
				.events__text
					color: $green
	.events__meta
		float: left
		+ag_b
		line-height: 1
		padding-right: 13px
		margin-right: 7px
	.events__date
		display: block
		font-size: 50px
	.events__day
		display: block
		font-size: 15px
		margin-top: -7px
		text-transform: uppercase
	.events__text
		overflow: hidden
		font-size: 15px

// topic
.topic
	h1
		color: $dark
		font-size: 21px
		text-transform: uppercase
		margin-bottom: 0.5em
		+ag_b
	h2
		font-size: 14px
		margin-bottom: 1em
		+ag_m
	p
		font-size: 13px
		+ag_r
		margin-bottom: 1em
	figure
		margin-bottom: 1.5em
		p
			padding: 0
			margin: 0 0 .7em
		img
			display: block
			max-width: 460px
			margin-left: auto
			margin-right: auto
	figcaption
		text-align: right
		+ag_i
		font-size: 11px
		color: $black
	blockquote
		border: 1px solid $orange
		border-width: 1px 0
		margin: 1.5em 0
		padding: 0 2em
		p
			text-transform: uppercase
			text-align: center
			font-size: 13px
			color: $green
			+ag_b
			margin: 1.5em 0

// webinar
.webinar
	margin-bottom: 30px
	.webinar__title
		margin-bottom: 0.5em
	.webinar__timer
		color: $pink
	.webinar__content
		+clr
	.webinar__pic
		float: left
		width: 140px
		margin-right: 20px
		a
			display: block
			height: 100%
		img
			display: block
			max-width: 140px
			border: 1px solid #e0e0e0
			+box
			margin-left: auto
			margin-right: auto
	.webinar__info
		overflow: hidden
	.webinar__head
		position: relative
		font-size: 15px
		line-height: 1.2
		margin-bottom: 0.2em
		&:after
			display: block
			width: 140px
			height: 1px
			margin-top: 0.2em
			background: $pink
			content: ""
		a
			text-decoration: none
			color: $dark
			&:hover
				color: $pink
			&:active
				color: $green
	.webinar__speaker
		color: #b0b0b0
		font-size: 11px

// photo
.photo
	.photo__title
	.photo__years
		margin-bottom: 1em
		li
			display: inline-block
			color: $grey
			a
				color: $grey
				&:hover, &.is-active
					text-decoration: none
					color: $pink
				&:active
					text-decoration: none
					color: $green
			&:first-child
				.photo__divider
					display: none
		.photo__divider
			padding: 0 4px 0 0
	.photo__content
	.photo__list
	.photo__row
		+clr
		margin-bottom: 20px
	.photo__gallery
		float: left
		width: 460px
		margin-right: 20px
		text-align: center
		border-bottom: 1px solid $green
		padding-bottom: 10px
		.photo__gallery-list
			margin-left: -20px
			+clr
		.photo__pic
			position: relative
			float: left
			width: 220px
			height: 145px
			margin-left: 20px
			margin-bottom: 20px
			font-size: 13px
			&:hover
				&:before
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					content: ""
					opacity: 0.8
					background: $green
				.photo__zoom
					display: block
		.photo__zoom
			display: none
			line-height: 145px
			position: absolute
			top: 0
			left: 0
			right: 0
			text-align: center
			color: $white
			i
				+s(zoom)
				display: inline-block
				vertical-align: middle
	.photo__more
	.photo__info
		overflow: hidden
		font-size: 13px
	.photo__title
		font-size: 14px
	.photo__date
		color: $grey
		margin-bottom: 0.5em

// slider
.slider
	width: 940px
	margin-left: auto
	margin-right: auto   
	position: relative
	.slider__pager
		padding: 17px 0
		text-align: center
		line-height: 1
		span
			+hidetext
			+s(c-nav-a)
			+gray
			display: inline-block
			vertical-align: top
			margin: 0 3px
			&:hover, &.cycle-pager-active
				+gray-zero
				cursor: pointer
			&.cycle-pager-active
				cursor: default
	.slider__nav
		span
			position: absolute
			top: 170px
			+hidetext
			display: block
			+s(c-move-h)
			z-index: 101
			&:hover
				+s(c-move)
				cursor: pointer
			&.disabled
				cursor: default
				&:hover
					+s(c-move-h)
		.slider__prev
			left: 0
		.slider__next
			right: 0
			+rotate(180)
	.slider__item
		overflow: hidden
		height: 425px
		width: 100%
		img
			position: absolute
			top: 0
			left: 0
			width: 100%
			min-height: 425px
			height: auto
			+cover
	.slider__info
		width: 540px
		position: absolute
		color: $white
		background: $green
		opacity: 0.9
		left: 50%
		margin-left: -71px
		bottom: 0
		padding: 30px 25px 20px 35px
		+box
		a
			color: $white 
			text-decoration: none
			&:hover
				color: $white
				text-decoration: none
		p
			margin-bottom: 1em
			+ag_r
			a
				color: $white
				text-decoration: underline
				&:hover
					color: $white
					text-decoration: none
	.slider__title
		font-size: 34px
		margin-bottom: 0.2em

// popup
.overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(#000, .8)
	z-index: -1
	+opacity(0)
	+transition(all .3s linear)
	&.is-active
		+opacity(1)
		z-index: 1001
.popup
	position: fixed
	width: 300px
	left: 50%
	top: 150px
	margin-left: -150px
	z-index: -1
	+opacity(0)
	+transform(translate3d(0,-100%,0))
	+transition(all .3s ease-in)
	&.is-active
		+opacity(1)
		z-index: 1002
		+transform(translate3d(0,0,0))
	.button
		margin-top: 3px
	.popup__content
		position: relative
		padding: 25px 20px
		background-color: #edeeef
		border: 1px solid #ababab
	.popup__logo
		+s(logo-white)
		margin-left: -60px
		margin-bottom: 20px
		a
			display: block
			height: 100%
			+hidetext
	.popup__nav
		margin-bottom: 15px
		li
			display: inline-block
			font-size: 18px
			+ag_b
			&.is-active
				a
					color: #000
					text-decoration: none
					border-bottom: none
					cursor: default
			a
				color: #989898
				text-decoration: none
				border-bottom: 2px dotted #989898
				&:hover
					border-bottom: none
.js-tabs-item
	display: none
	&.is-visible
		display: block

// alternative input
.input_alt
	display: block
	width: 100%
	+box
	margin-bottom: 12px
	padding: 8px 10px 6px
	border: 1px solid #cacaca
	background: #fff
	color: #333
	+placeholder-color(#717171)
	font-size: 15px
	line-height: 20px
	+ag_m
	&:focus
		+placeholder-color(#fff)
	&.is-error
		+placeholder-color(#e13f3f)
		border: 1px solid #da3d3d
		&:focus
			border: 1px solid #cacaca
			+placeholder-color(#fff)

// button
.button
	padding: 11px 16px 8px
	background: #0f8293
	color: #fff
	font-size: 15px
	line-height: 1
	+ag_m
	&:hover
		background: $pink
	&:active
		background: $grey
		position: relative
		top: 1px

.help-inline
	display: inline-block
	vertical-align: middle
	line-height: 34px
	margin-left: 50px
	font-size: 14px
	color: #000
	+ag_r
	a
		color: #000
		text-decoration: underline
		&:hover
			text-decoration: none

// plan
.plan
	.title
		margin-bottom: 1.5em

// years
.years
	position: relative
	margin-bottom: 50px
	min-height: 1px
	&:before
		position: absolute
		height: 1px
		left: 0
		top: 0
		width: 100%
		background: #c7c7c7
		content: ""
	li
		position: absolute
		top: -4px
		height: 9px
		width: 9px
		background: #c7c7c7
		+border-radius(50%)
		&:hover, &.is-active
			background: #fbbd2f
		&:first-child
			.years__year
				margin-left: 0
		&:last-child
			.years__year
				margin-left: -19px
		a
			color: #000
			text-decoration: none
			display: block
			padding-top: 2px
			&:hover
				text-decoration: none
	.years__year
		display: block
		margin-top: 15px
		margin-left: -10px
		font-size: 13px
		+ag_m
		color: #000

.date
	font-size: 10px
	+ag_l
	margin-bottom: 1em
.docs_mod
	.docs__list
		+clr
	.docs__item
		margin-bottom: 20px
		float: left
		width: 233px
		margin-top: 0 !important
		height: 135px
		padding: 11px
		+box
		& > a
			display: block
			max-height: 100%
			overflow: hidden
			padding: 0
		a
			.docs__head
				color: #333
				text-decoration: underline
			&:hover
				.docs__head
					color: #9a9a9a
					text-decoration: underline
		.t2
			margin-bottom: 1em
		&:hover
			border-color: #fbbd2f

// comments
.comments
	.comments__title
		text-transform: uppercase
		margin-bottom: 1.5em
		+ag_b
	.comments__post
		+clr
		margin-bottom: 10px
	.comments__userpic
		float: left
		display: block
		width: 60px
		min-height: 1px
		margin-right: 20px
		img
			display: block
			max-width: 100%
			height: auto
	.comments__body
		overflow: hidden
		+ag_l
	.comments__meta
		margin-bottom: .2em
	.comments__username
	.comments__date
	.comments__text
		p
			width: 380px
		.comments__post
			margin-top: 10px
			margin-bottom: 0

	.comments__reply
		margin-top: 30px
		width: 380px
		+clr
		textarea
			display: block
			width: 100%
			resize: none
			height: 80px
			padding: 10px
			margin-bottom: 10px
			border: 1px solid #c4c4c4
			+box
			+ag_l
		.button
			float: right






// photo-popup
.photo-popup__overlay
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(#000, .8)
	z-index: -1
	+opacity(0)
	+transition(all .3s linear)
	&.is-active
		+opacity(1)
		z-index: 1001
.photo-popup
	position: fixed
	width: 620px
	left: 50%
	top: 100px
	margin-left: -310px
	z-index: -1
	+opacity(0)
	+transform(translate3d(0,-100%,0))
	+transition(all .3s ease-in)
	color: #fff
	+ag_r
	font-size: 18px
	&.is-active
		+opacity(1)
		z-index: 1002
		+transform(translate3d(0,0,0))
	.photo-popup__title
		margin-bottom: 0.5em
	// gallery
	.gallery__nav
		a
			position: absolute
			top: 50%
			z-index: 1000
			+s(c-move-h)
			+hidetext
			margin-top: -30px
			&:hover
				+s(c-move)
			&.disabled
				+s(c-move-h)
				cursor: default
		.gallery__prev
			left: -30px
		.gallery__next
			right: -30px
			+rotate(180)
	// gallery__main
	.gallery__main
		position: relative
		margin-bottom: 20px
		.gallery__caption
			position: absolute
			bottom: 0
			right: 0
			line-height: 1
			z-index: 100
			background: #000000
			+opacity(.6)
			padding: 7px 9px
			min-width: 25px
			text-align: center
			font-size: 11px
			+box
			+ag_b
		.gallery__item
			height: 575px
			width: 620px
			img
				display: block
	// gallery__thumb
	.gallery__thumb
		position: relative
		.gallery__thumbnail
			width: 140px !important
			margin-right: 20px
			&:hover
				cursor: pointer
			img
				width: 140px
				display: block
		.gallery__nav
			a
				margin-top: -13px
				+s(c-move-sm-h)
				&:hover
					+s(c-move-sm)
				&.disabled
					+s(c-move-sm-h)
			.gallery__prev
				left: -13px
			.gallery__next
				right: -13px

























